<% include partials/header %>

    <div class="ui main text container">
        <div class="ui huge header">

        </div>
        <h1>The
            <%=blog.title%> PAGE</h1>

        <% blogs.forEach(function(blog){%>
            <div>
                <h3>
                    <%=blog.title %>
                </h3>
                <img src="<%=blog.image%>" />
                <p><span><%=blog.created.toDateString() %></span></p>
                <p>
                    <%= blog.body.substring(0, 100) %>...
                </p>
                <a href="/blogs/<%=blog._id%>">Read More</a>
            </div>
            <% }); %>
    </div>
    <% include partials/footer %>