<% include partials/header %>
<h1>The <%=blogs.title%> PAGE</h1>



<% blogs.forEach(function(blog){%>
        <div>
                <h3><%= blog.title %></h3>
                <img src="<%= blog.image%>">
                <span><%= blog.created %></span>
                <p><%= blog.body %></p>
        </div>
        <%});%>



<% include partials/footer %>        